<main class="cd-main-content">
		<div class="cd-tab-filter-wrapper">
			<div class="cd-tab-filter">
				<ul class="cd-filters">
					<li class="placeholder">
						<a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
					</li>
					<li class="filter"><a class="selected" href="#0" data-type="all">All</a></li>
					<li class="filter" data-filter=".color-1"><a href="#0" data-type="color-1">Color 1</a></li>
					<li class="filter" data-filter=".color-2"><a href="#0" data-type="color-2">Color 2</a></li>
				</ul> <!-- cd-filters -->
			</div> <!-- cd-tab-filter -->
		</div> <!-- cd-tab-filter-wrapper -->

		<section class="cd-gallery">
			<ul>
				<li class="mix color-1 option3"><%= image_tag "img-1.jpg" %></li>
				<li class="mix color-2 option2"><%= image_tag "img-2.jpg" %></li>
				<li class="mix color-1 option1"><%= image_tag "img-3.jpg" %></li>
				<li class="mix color-1 option4"><%= image_tag "img-4.jpg" %></li>
				<li class="mix color-1 option2"><%= image_tag "img-5.jpg" %></li>
				<li class="mix color-2 option3"><%= image_tag "img-6.jpg" %></li>
				<li class="mix color-2 option1"><%= image_tag "img-7.jpg" %></li>
				<li class="mix color-1 option4"><%= image_tag "img-8.jpg" %></li>
				<li class="mix color-2 option3"><%= image_tag "img-9.jpg" %></li>
				<li class="mix color-1 option4"><%= image_tag "img-10.jpg" %></li>
				<li class="mix color-1 option2"><%= image_tag "img-11.jpg" %></li>
				<li class="mix color-2 option1"><%= image_tag "img-12.jpg" %></li>
				<li class="gap"></li>
				<li class="gap"></li>
				<li class="gap"></li>
			</ul>
			<div class="cd-fail-message">No results found</div>
		</section> <!-- cd-gallery -->

		<div class="cd-filter">
			<form>
				<div class="cd-filter-block">
					<h4>Search</h4>

					<div class="cd-filter-content">
						<input type="search" placeholder="Try color-1...">
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

				<div class="cd-filter-block">
					<h4>Select</h4>

					<div class="cd-filter-content">
						<div class="cd-select cd-filters">
							<select class="filter" name="selectThis" id="selectThis">
								<option value="">Choose an option</option>
								<option value=".option1">Option 1</option>
								<option value=".option2">Option 2</option>
								<option value=".option3">Option 3</option>
								<option value=".option4">Option 4</option>
							</select>
						</div> <!-- cd-select -->
					</div> <!-- cd-filter-content -->
				</div> <!-- cd-filter-block -->

			</form>

			<a href="#0" class="cd-close">Close</a>
		</div> <!-- cd-filter -->

		<a href="#0" class="cd-filter-trigger">Filters</a>
	</main> <!-- cd-main-content -->